# Gitignore personalizado
# Binários
*/hello/hello
*/philosophers_dinner/philosophers_dinner
*/producer_consumer/producer_consumer
*/ea_test/ea_test

# Configurações
*.cfg

# Imagem
img/ea_test
img/*.img
img/*.log
img/*.out

# Arquivos temporários
*.o

# Ferramentas
eposcfg
eposmkbi

# Envios
submission.diff